extends ../layout
block content
  .breadcomb-area
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .breadcomb-list
              .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                  .breadcomb-wp
                    .breadcomb-icon
                      i.notika-icon.notika-windows
                    .breadcomb-ctn
                      h2 Danh sách tài khoản
                      p
                        | Quản lý tài khoản > Danh sách tài khoản
  .data-table-area
    .container
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .data-table-list
            .basic-tb-hd
              h2 Danh sách tài khoản
              p
                | danh sách
            .table-responsive
              table#data-table-basic.table.table-striped
                thead
                  tr
                    th #
                    th MSSV/MSCB
                    th Họ và tên
                    th Email
                    th Đơn vị trực thuộc
                    th Loại người dùng
                    th Trạng thái tài khoản
                    th Action
                tbody
                  - let i = 1
                  each user in users
                    tr
                      td= i
                      td= user.code
                      td= user.fullName
                      td= user.email
                      td= user.faculty
                      td
                        - let selectID = 0
                        select.selectpicker
                          if user.role == 1
                            option(selected) Admin
                          else
                            option Admin
                          if user.role == 5
                            option(selected) Sinh viên
                          else 
                            option Sinh viên
                          if user.role == 10 
                            option(selected) Chủ hoạt động
                          else
                            option Chủ hoạt động
                      td
                        if user.isBlock == true
                          | Bị khóa
                        else
                          | Hoạt động
                      td 
                        a( data-trigger='hover' data-toggle='popover' data-placement='top' data-content='Khóa tài khoản', href="/admin/account/block/"+user.id )
                          i.fa.fa-ban(style="font-size:27px")
                        //a( data-trigger='hover' data-toggle='popover' data-placement='top' data-content='Thay đổi loại tài khoản', href="/admin/account/modifyRole/"+user.id )
                          i.fa.fa-user-circle-o(style="font-size:27px")
                    - i++


block script
  script(src='/assets/js/data-table/jquery.dataTables.min.js')
  script(src="/assets/js/data-table/data-table-act.js")
  script(src="/assets/js/wave/waves.min.js")
  script(src="/assets/js/wave/wave-active.js")
  script(src='/assets/js/bootstrap-select/bootstrap-select.js')
  script.
    $('.selectpicker').selectpicker();
    $("select.selectpicker").css('backgroundColor', '#4267b2');
    $('select#selectID).click(function () {
      //todo
    })
