extends layout


block content
    .row
        .col-lg-12
            .card.promoting-card.mb-2
                .card-body.d-flex.flex-row
                    div
                        h4.card-title.font-weight-bold.mb-2
                            = activity.name 
                        if status == 1
                            label.badge-pill.badge.badge-warning Request Pending
                        else if status == 2
                            label.badge-pill.badge.badge-success Accepted
                        else if status == 3
                            label.badge-pill.badge.badge-danger Rejected
                        if activity.members.length == activity.maxMember
                            .badge.badge-pill.badge-danger Đã đủ thành viên 
                        if moment(activity.registerEnd, "MM/DD/YYYY").isBefore(moment())
                            .badge.badge-pill.badge-danger Đã hết hạn đăng ký
                        p.card-text.mb-0
                            i.far.fa-clock.pr-2
                            strong
                                | Hạn đăng ký: 
                            = activity.registerEnd
                        p.card-text.mb-0
                            i.far.fa-clock.pr-2
                            strong
                                | Thời gian: 
                            = activity.dateStart
                        p.card-text.mb-0
                            i.far.fa-clock.pr-2
                            strong
                                | Thời gian kết thúc (dự kiến): 
                            = activity.dateEnd
                        p.card-text.mb-0
                            i.far.fa-map.pr-2
                            strong
                                | Địa điểm tập trung: 
                            = activity.gatheringPlace
                        if activity.targetPlace
                            p.card-text.mb-0
                                i.far.fa-map.pr-2
                                strong
                                    | Địa điểm di chuyển đến: 
                                = activity.targetPlace
                        p.card-text.mb-0
                            i.far.fa-map.pr-2
                            strong
                                | Đơn vị tổ chức: 
                            = activity.orgUnit
                        p.card-text.mb-0
                            i.far.fa-map.pr-2
                            strong
                                | Số lượng tuyển: 
                            = activity.maxMember
                        p.card-text.mb-0
                            i.far.fa-map.pr-2
                            strong
                                | Số ngày công tác xã hội (tối đa): 
                            = activity.benefit
                    .m-auto
                    a(href="/profile?code="+activity.host.code, style="height: 50px")
                        img.float-right.rounded-circle(height="50px", width="50px", src=activity.host.avatar, style="object-fit:cover" alt="avatar.jpg")
                    //<button type="button" class="btn btn-primary btn-rounded">Primary</button>
                .view.overlay
                    #carousel-example-1z.carousel.slide.carousel-fade(data-ride="carousel")
                        ol.carousel-indicators
                            each image in activity.images
                                if image == 0
                                    li(data-target="#carousel-example-1z" data-slide-to=i).active
                                else
                                    li(data-target="#carousel-example-1z" data-slide-to=i)
                        .carousel-inner(role="listbox")
                            each image, index in activity.images
                                if index == 0
                                    .carousel-item.active
                                        img.newfeedimage(src=image alt="First slide")
                                else
                                    .carousel-item
                                        img.newfeedimage(src=image alt="First slide")
                        a.carousel-control-prev(href="#carousel-example-1z" role="button" data-slide="prev")
                            span.carousel-control-prev-iconz(aria-hidden="true")
                            span.sr-only
                                | Previous
                        a.carousel-control-next(href="#carousel-example-1z" role="button" data-slide="next")
                            span.carousel-control-next-icon(aria-hidden="true")
                            span.sr-only
                                | Next
                    a(href="#!")
                        .mask.rgba-white-slight
                .card-body !{activity.content}

                    div
                        button.btn.btn-danger.btn-rounded.btn-sm(onclick="like('"+activity.id+"', '"+user.id+"');" style="color: white !important")
                                i.fas.fa-thumbs-up
                                span(id=activity.id+"like")
                                    if activity.like.includes(user.id)
                                        |   UnLike
                                    else 
                                        |   Like
                        if status == 1
                            button.btn.btn-danger.btn-rounded.btn-sm(disabled)
                                | Đang chờ duyệt
                        else if status == 2
                            button.btn.btn-danger.btn-rounded.btn-sm(data-toggle='modal' data-target='#modalHuy')
                                | Hủy Đăng Ký
                        else
                            if status == 3
                                button.btn.btn-primary.btn-rounded.btn-sm(disabled)
                                    | Không thể đăng ký
                            else if activity.members.length == activity.maxMember  
                                button.btn.btn-primary.btn-rounded.btn-sm(disabled)
                                    | Không thể đăng ký
                            else 
                                button.btn.btn-primary.btn-rounded.btn-sm(data-toggle='modal' data-target='#modalSubscriptionForm')
                                    | Đăng ký

                        button.btn.btn-primary.btn-rounded.btn-sm
                            | Bình Luận
                        button.btn.btn-primary.btn-rounded.btn-sm(data-toggle='modal' data-target='#modalMember') 
                            | Thành Viên
                        i.fas.fa-heart.text-muted.float-right.p-1.my-1.mr-3.red-text(id=activity.id data-toggle="tooltip" data-placement="top" title="I like it")= activity.like.length
                .card-body
                    form(action="/comment/"+activity._id, method="POST")
                        a(href="/profile?code="+activity.host.code, style="height: 50px")
                            img.rounded-circle(height="50px", width="50px", style="object-fit:cover" src=user.avatar, alt="avatar.jpg")
                        input#comment.input-rounded(type="text", name="comment", placeholder="comment...")
                .card-body
                    ul.comment
                        each comment in activity.comment
                            li.comment-item
                                a(href="/profile?code="+activity.host.code, style="height: 50px")
                                    img.rounded-circle(height="50px", width="50px", style="object-fit:cover" src=comment.info.avatar, alt="avatar.jpg")
                                span.name= comment.info.fullName
                                i.far.fa-clock.pr-2= comment.timeComment
                                p= comment.content
    #modalSubscriptionForm.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header.text-center
                    h4.modal-title.w-100.font-weight-bold Xác nhận tham gia hoạt động
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body.mx-3
                    form(name="ApplyForm" action="/apply/"+activity._id method='post' )
                        button.btn.btn-indigo
                            | Đăng Ký
                        // a.btn.btn-indigo(href="/apply/"+activity._id)
                .modal-footer.d-flex.justify-content-center
    #modalHuy.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header.text-center
                    h4.modal-title.w-100.font-weight-bold Xác nhận hủy tham gia hoạt động
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body.mx-3.text-center
                    p.model-body
                    form(name="UnapplyForm" action="/un_apply/"+activity._id method='post' )
                        button.btn.btn-indigo
                            | Hủy Đăng Ký
                .modal-footer.d-flex.justify-content-center
    #modalMember.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                //Header
                .modal-header
                    h4#myModalLabel.modal-title.font-weight-bold Thành viên đăng ký hoạt động
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                // Body
                .modal-body
                    table.table.table-hover
                        thead
                            tr
                                th Stt
                                th Họ và tên 
                                th mssv
                                th Khoa
                        tbody
                            - i=1
                            each member in activity.members
                                if member.status == 2
                                    tr
                                        th(scope='row')= i
                                        td.font-weight-bold
                                            a(href="/profile?code=" + member.info.code, style="height: 50px")= member.info.fullName
                                        td= member.info.code
                                        td= member.info.faculty
                                    - i++
                    .modal-footer
block script
    script.
        like = (activity, user) => {
            $.ajax({
                type: "POST",
                url: "/ajax/like",
                data: {
                    activity: activity,
                    user: user, 
                },
                success: function (res) {
                    $('#'+activity).text(res.like)
                    $('#'+activity+"like").text(res.text)
                },
                dataType: "json"
            });

            return false;
        }
