extends layout
block content
    .row
        .col-lg-8
            each activity in activities
                .card.promoting-card.mb-2
                    .card-body.d-flex.flex-row
                        div
                            h4.card-title.font-weight-bold.mb-2= activity.name

                                if activity.members.length == activity.maxMember
                                    .badge.badge-danger Đã đủ thành viên 
                            p.card-text.mb-0
                                i.far.fa-clock.pr-2
                                strong
                                    | Thời gian: 
                                = activity.timeStart
                            p.card-text.mb-0
                                i.far.fa-map.pr-2
                                strong
                                    | Địa điểm: 
                                = activity.targetPlace
                            p.card-text.mb-0
                                i.far.fa-map.pr-2
                                strong
                                    | Đơn vị tổ chức: 
                                = activity.orgUnit
                            p.card-text.mb-0
                                i.far.fa-map.pr-2
                                strong
                                    | Số lượng tuyển: 
                                = activity.maxMember
                            p.card-text.mb-0
                                i.far.fa-map.pr-2
                                strong
                                    | Số ngày công tác xã hội: 
                                = activity.benefit
                        .m-auto
                        img.float-right.rounded-circle(height="50px", width="50px", style="object-fit:cover" src=activity.host.avatar, alt="avatar.jpg")
                    .view.overlay
                        #carousel-example-1z.carousel.slide.carousel-fade(data-ride="carousel")
                            ol.carousel-indicators
                                each image, index in activity.images
                                    if index == 0
                                        li(data-target="#carousel-example-1z" data-slide-to=i).active
                                    else
                                        li(data-target="#carousel-example-1z" data-slide-to=i)
                            .carousel-inner(role="listbox")
                                each image, index in activity.images
                                    if index == 0
                                        .carousel-item.active
                                            img.newfeedimage(src=image alt="First slide")
                                    else
                                        .carousel-item
                                            img.newfeedimage(src=image alt="First slide")
                            a.carousel-control-prev(href="#carousel-example-1z" role="button" data-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.sr-only
                                    | Previous
                            a.carousel-control-next(href="#carousel-example-1z" role="button" data-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.sr-only
                                    | Next
                        a(href="#!")
                            .mask.rgba-white-slight
                    .card-body
                        span.show-short-content !{activity.content}
                        div
                            a.btn.btn-flat.red-text.p-1.my-1.mr-0.mml-1( href="/activity-detail/"+activity._id )
                                | See more
                            i.fas.fa-share-alt.text-muted.float-right.p-1.my-1(data-toggle="tooltip" data-placement="top" title="Share this post")
                            i.fas.fa-heart.text-muted.float-right.p-1.my-1.mr-3.red-text(data-toggle="tooltip" data-placement="top" title="I like it")
                                | 200
        .col-lg-4.hidden-sm
            a(href="/profile")
                .card.testimonial-card.mb-2
                    .card-up.aqua-gradient(style="height:100px")
                    .avatar.mx-auto.white
                            img.rounded-circle.img-responsive(width="110px" height="110px" style="object-fit: cover;" src=user.avatar alt="avatar")
                    .card-body.text-center
                        h4.card-title= user.fullName
                        hr
                        .row
                            .col-sm-4(style="padding-left:8px; padding-right: 0px;")
                                p.grey-text.small MSSV
                                p.text-primary(style="line-height: 0px;")
                                    strong.small=user.code
                            .col-sm-4
                                p.grey-text.small CTXH
                                p.text-primary(style="line-height: 0px;")
                                    strong.small#socialday
                            .col-sm-4
                                p.grey-text.small Level
                                p.text-primary(style="line-height: 0px;")
                                    strong.small=user.role
            .card.promoting-card
                .card-body.d-flex.flex-row
                    div
                        h6.card-title.font-weight-bold.mb-2
                            | Thông Báo
                .list-group
                    each notification in user.notifications
                        a.list-group-item.list-group-item-action.flex-column.align-items-start(href=notification.link)
                            .w-100.justify-content-between
                                strong.mb-2= notification.title
                                p.small= moment(notification.time).format("DD/MM/YYYY HH:mm")
                            p.small.mb-2= notification.content
block script
    script.
        $.ajax({
           url: '/ctxh/'+!{user.code},
           type:'GET',
           success: function(data){
               console.log(data);
               $('#socialday').text(data);
           }
        });
