extends layout
block content
    .row
        .col-lg-8
            each activity in activities
                .card.promoting-card.mb-2
                    .card-body.d-flex.flex-row
                        div
                            h4.card-title.font-weight-bold.mb-2= activity.name

                                if activity.members.length == activity.maxMember
                                    .badge.badge-danger Đã đu thành viên 
                            p.card-text
                                i.far.fa-clock.pr-2
                                = activity.timeStart
                            p.card-text
                                i.far.fa-map.pr-2
                                = activity.targetPlace
                        .m-auto
                        img.float-right.rounded-circle(height="50px", width="50px", src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg", alt="avatar.jpg")
                    .view.overlay
                        //- img.card-img-top.rounded-0(src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg" alt="Card image cap")
                        #carousel-example-1z.carousel.slide.carousel-fade(data-ride="carousel")
                            ol.carousel-indicators
                                - let i = 0
                                each video in activity.video
                                    li(data-target="#carousel-example-1z" data-slide-to=i)
                                    - i++
                                each image in activity.image
                                    li(data-target="#carousel-example-1z" data-slide-to=i)
                                    - i++
                            .carousel-inner(role="listbox")
                                - i = 0
                                    each video in activity.video
                                        .carousel-item
                                            img.d-block.w-100(src=video alt="First slide")
                                        - i++
                                    each image in activity.image
                                        .carousel-item
                                            img.d-block.w-100(src=image alt="First slide")
                                        - i++
                                .carousel-item.active
                                    img.d-block.w-100(src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide")
                                .carousel-item
                                    img.d-block.w-100(src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="First slide")
                                .carousel-item
                                    img.d-block.w-100(src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="First slide")
                            a.carousel-control-prev(href="#carousel-example-1z" role="button" data-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.sr-only
                                    |   Previous
                            a.carousel-control-next(href="#carousel-example-1z" role="button" data-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.sr-only
                                    |   Next
                        a(href="#!")
                            .mask.rgba-white-slight
                    .card-body
                        |   Recently, we added several exotic new dishes to the menu of our restaurant. They come from countries such as Mexico, Argentina, and Spain. Come to us, have a delicious wine and enjoy the juicy meals from around the world.
                        div
                            a.btn.btn-flat.red-text.p-1.my-1.mr-0.mml-1( href="activity-detail/"+activity._id )
                                |   See more
                            i.fas.fa-share-alt.text-muted.float-right.p-1.my-1(data-toggle="tooltip" data-placement="top" title="Share this post")
                            i.fas.fa-heart.text-muted.float-right.p-1.my-1.mr-3.red-text(data-toggle="tooltip" data-placement="top" title="I like it")
                                |  200
        .col-lg-4.hidden-sm
            .card.testimonial-card.mb-2
                .card-up.aqua-gradient(style="height:100px")
                .avatar.mx-auto.white
                    img.rounded-circle.img-responsive(width="110px" height="110px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" alt="woman avatar")
                .card-body
                    h4.card-title= user.fullName
                    hr
                    .row
                        .col-sm-4
                            p.grey-text.small MSSV
                            p.text-primary(style="line-height: 0px;")
                                strong.small= user.code
                        .col-sm-4
                            p.grey-text.small CTXH
                            p.text-primary(style="line-height: 0px;")
                                strong.small=user.numWorkDay
                        .col-sm-4
                            p.grey-text.small Level
                            p.text-primary(style="line-height: 0px;")
                                strong.small 20
            .card.promoting-card
                .card-body.d-flex.flex-row
                    div
                        h6.card-title.font-weight-bold.mb-2
                            |   Thông Báo
                .list-group
                    a.list-group-item.list-group-item-action.flex-column.align-items-start(href='#!')
                        .w-100.justify-content-between
                            strong.mb-2 List group item heading
                            p.small 3 days ago
                        p.small.mb-2
                            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                            | blandit.
                    a.list-group-item.list-group-item-action.flex-column.align-items-start(href='#!')
                        .w-100.justify-content-between
                            strong.mb-2 List group item heading
                            p.small 3 days ago
                        p.small.mb-2
                            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                            | blandit.
                    a.list-group-item.list-group-item-action.flex-column.align-items-start(href='#!')
                        .w-100.justify-content-between
                            strong.mb-2 List group item heading
                            p.small 3 days ago
                        p.small.mb-2
                            | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                            | blandit.