doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        title
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/mdb.min.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")
        link(href="/css/styleprofile.css" rel="stylesheet")

    body
        include partials/header
        form(id="infoform" action="/profile" method="POST" enctype="multipart/form-data")
            .mt-100
            .container 
                .row
                    .col-lg-3.hidden-sm
                        .card.testimonial-card.mb-2
                            .avatar-wrapper
                                img.profile-pic(src=user.avatar)
                                .upload-button
                                    i.fa.fa-arrow-circle-up(aria-hidden='true')
                                input.file-upload(type='file', name="avatar" id="avatar" style="visibility: hidden")
                            .card-body
                                h6.card-title= user.fullName
                    br
                    .col-lg-9.col-sm-12
                        // Card
                        .card
                            // Card content
                            .card-body
                                // Title
                                h4.card-title
                                    a Thông tin người dùng
                                .errmessage(id="errorContainer")
                                    p Please correct the following errors and try again:
                                    <ul/>
                                div
                                    .md-form.form-sm
                                        label(for='inputName') Họ và tên:
                                        input#inputName.form-control.form-control-sm(type='text' value=user.fullName name="name")
                                    .md-form.form-sm
                                        label(for='inputMSSV') MSSV:
                                        input#inputMSSV.form-control.form-control-sm(type='text' value=user.code name="mssv")
                                    .md-form.form-sm
                                        label(for='inputEmail') Email:
                                        input#inputEmail.form-control.form-control-sm(type='text' value=user.email name="email" disabled)
                                    .md-form.form-sm
                                        label(for='inputPhone') Số điện thoại:
                                        input#inputPhone.form-control.form-control-sm(type='text' value=user.phone name="phone")
                                    div
                                        label(style="font-size: .75rem") Khoa
                                        select.browser-default.custom-select(name="faculty", required value = user.faculty)
                                            option(value='', disabled='') Choose your option
                                            option(value='Khoa học và Kỹ thuật Máy tính' selected) Khoa học và Kỹ thuật Máy tính
                                            option(value='Kỹ thuật Hóa học') Kỹ thuật Hóa học
                                            option(value='Điện - Điện tử') Điện - Điện tử
                                            option(value='Cơ Khí') Cơ Khí
                                            option(value='Xây Dựng') Xây Dựng
                                            option(value='Khoa học Ứng dụng') Khoa học Ứng dụng
                                            option(value='Môi trường và tài nguyên') Môi trường và tài nguyên
                                            option(value='Kỹ thuật giao thông') Kỹ thuật giao thông
                                            option(value='Kỹ thuật và Địa chất Dầu khí') Kỹ thuật và Địa chất Dầu khí
                                            option(value='Quản lý Công nghiệp') Quản lý Công nghiệp
                                            option(value='VP. Đào tạo Quốc tế') VP. Đào tạo Quốc tế
                                            option(value='Bảo dưỡng công nghiệp') Bảo dưỡng công nghiệp
                                            option(value='Công nghệ Vật liệu') Công nghệ Vật liệu
                                    .md-form.form-sm
                                        label(for='inputSocialWork')  Số ngày Công tác xã hội:
                                        input#inputSocialWork.form-control.form-control-sm(type='text' value=user.socialday name="socialday")
                                    // Button
                                    button.btn.btn-primary Cập nhật
                        // Card

                        // Card
                        .card.mt-3
                            // Card content
                            .card-body
                                // Title
                                h4.card-title
                                    a Hoạt động cá nhân
                                // Text
                                .table-responsive
                                    table.table
                                        thead
                                            tr
                                                th(scope='col') STT
                                                th(scope='col') Mã Hoạt động
                                                th(scope='col') Tên hoạt động
                                                th(scope='col') Khoa tổ chức
                                                th(scope='col') Ngày CTXH
                                        tbody
                                            - let i= 0
                                            each act in activity
                                                - i++
                                                tr
                                                    th(scope='row')= i
                                                    td= act.id
                                                    td= act.name
                                                    td= act.orgUnit
                                                    td= act.benefit

                    // Card
        script(type="text/javascript" src="/js/jquery-3.3.1.min.js")
        script(type="text/javascript" src="/js/popper.min.js")
        script(type="text/javascript" src="/js/bootstrap.min.js")
        script(type="text/javascript" src="/js/mdb.min.js")
        script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js")
        script.
            $('.toast').toast()
        script.
            $(document).ready(function() {
                $("#infoform").validate({
                    rules: {
                        mssv: {
                            required: true,
                            rangelength: [7,7],
                            range: [1400000, 1899999]
                        },
                        name: "required",
                        phone: {
                            required: true,
                            number: true,
                            rangelength: [10,10],
                            range: [0, 999999999]
                        },
                        socialday: {
                            required: true,
                            number: true,
                            range: [0,200]
                        },
                    },
                    messages: {
                        mssv: {
                            required: "Vui lòng nhập mã số sinh viên",
                            rangelength: "Vui lòng nhập mã số sinh viên hợp lệ",
                            range: "Vui lòng nhập mã số sinh viên hợp lệ"
                        },
                        name: "Vui lòng nhập họ và tên",
                        phone: {
                            required: "Vui lòng nhập số điện thoại",
                            number: "Vui lòng nhập số điện thoại hợp lệ",
                            rangelength: "Vui lòng nhập số điện thoại hợp lệ",
                            range: "Vui lòng nhập số điện thoại hợp lệ"
                        },
                        socialday: {
                            required: "Vui lòng nhập ngày ctxh",
                            number: "Vui lòng nhập ngày ctxh hợp lệ",
                            range: "Vui lòng nhập ngày ctxh hợp lệ"
                        }
                    },
                    errorContainer: $('#errorContainer'),
                    errorLabelContainer: $('#errorContainer ul'),
                    wrapper: 'li'
                });
            });
        script.
            $(document).ready(function() {
                var readURL = function(input) {
                    if (input.files && input.files[0] && input.files[0].type.includes("image")) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('.profile-pic').attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                $(".file-upload").on('change', function(){
                    readURL(this);
                });
                $(".upload-button").on('click', function() {
                    $(".file-upload").click();
                });
            });
        block script
