doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        title
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/mdb.min.css" rel="stylesheet")
        link(href="/css/style.css" rel="stylesheet")

        

    body
        include partials/header
        
        .mt-100
        .container
            .row
                .col-lg-3.hidden-sm
                    .card.testimonial-card.mb-2
                        .card-up.aqua-gradient(style="height:100px")
                        .avatar.mx-auto.white
                            img.rounded-circle.img-responsive(width="110px" height="110px" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" alt="woman avatar")
                        .card-body
                            h4.card-title= user.fullName
                            hr
                            .row
                                .col-sm-6
                                    p.grey-text.small MSSV
                                    p.text-primary(style="line-height: 0px;")
                                        strong.small=user.code
                                .col-sm-6
                                    p.grey-text.small CTXH
                                    p.text-primary(style="line-height: 0px;")
                                        strong.small=user.numWorkDay
                br                
                .col-lg-9.col-sm-12
                  // Card
                  .card
                    // Card content
                    .card-body
                      // Title
                      h4.card-title
                        a Thông tin người dùng
                      // Text
                      form(action="/profile/update" method="POST")
                        .md-form.form-sm
                          input#inputSMEx.form-control.form-control-sm(type='text' value=user.code)
                          label(for='inputSMEx') MSSV:
                        .md-form.form-sm
                          input#inputSMEx.form-control.form-control-sm(type='text' value=user.fullName, name="name")
                          label(for='inputSMEx') Họ và tên:
                        .md-form.form-sm
                          input#inputSMEx.form-control.form-control-sm(type='text' value=user.email, name="email")
                          label(for='inputSMEx') Email:
                        .md-form.form-sm
                          input#inputSMEx.form-control.form-control-sm(type='text' value=user.phone, name="phone")
                          label(for='inputSMEx') Số điện thoại:
                        .md-form.form-sm
                          input#inputSMEx.form-control.form-control-sm(type='text' value=user.faculty.toString(), name="faculty")
                          label(for='inputSMEx') Khoa:
                        .md-form.form-sm
                          input#inputSMEx.form-control.form-control-sm(type='text' value=user.numWorkDay)
                          label(for='inputSMEx')  Số ngày Công tác xã hội:
                        
                        // Button
                        button.btn.btn-primary Cập nhật
                  // Card
                  
                  // Card
                  .card.mt-3
                    // Card content
                    .card-body
                      // Title
                      h4.card-title
                        a Hoạt động cá nhân
                      // Text
                      .table-responsive
                        table.table
                          thead
                            tr
                              th(scope='col') STT
                              th(scope='col') Mã Hoạt động
                              th(scope='col') Tên hoạt động
                              th(scope='col') Khoa tổ chức
                              th(scope='col') Ngày CTXH
                          tbody
                            - let i= 0
                            each act in activity
                              - i++
                              tr
                                th(scope='row')= i
                                td= act.id
                                td= act.name
                                td= act.orgUnit
                                td= act.benefit
                                
                            
                            
                  // Card


                  

                    

                    
                    
                     

        script(type="text/javascript" src="/js/jquery-3.3.1.min.js")
        script(type="text/javascript" src="/js/popper.min.js")
        script(type="text/javascript" src="/js/bootstrap.min.js")
        script(type="text/javascript" src="/js/mdb.min.js")
        script.
            $('.toast').toast()
        block script