extends ./layout

block content
    if (!activities.length)
        p Không tìm thấy kết quả cho: #{key}
    else 
        each activity in activities
            .card.promoting-card.mb-2
                .card-body.d-flex.flex-row
                    div
                        h4.card-title.font-weight-bold.mb-2= activity.name
                            if activity.members.length == activity.maxMember
                                .badge.badge-danger Đã đủ thành viên 
                        p.card-text.mb-0
                            i.far.fa-clock.pr-2
                            strong
                                | Thời gian: 
                            = activity.timeStart
                        p.card-text.mb-0
                            i.far.fa-map.pr-2
                            strong
                                | Địa điểm: 
                            = activity.targetPlace
                        p.card-text.mb-0
                            i.far.fa-map.pr-2
                            strong
                                | Đơn vị tổ chức: 
                            = activity.orgUnit
                        p.card-text.mb-0
                            i.far.fa-map.pr-2
                            strong
                                | Số lượng tuyển: 
                            = activity.maxMember
                        p.card-text.mb-0
                            i.far.fa-map.pr-2
                            strong
                                | Số ngày công tác xã hội: 
                            = activity.benefit
                    .m-auto
                    img.float-right.rounded-circle(height="50px", width="50px", style="object-fit:cover" src=activity.host.avatar, alt="avatar.jpg")
                .view.overlay
                    #carousel-example-1z.carousel.slide.carousel-fade(data-ride="carousel")
                        ol.carousel-indicators
                            each image, index in activity.images
                                if index == 0
                                    li(data-target="#carousel-example-1z" data-slide-to=i).active
                                else
                                    li(data-target="#carousel-example-1z" data-slide-to=i)
                        .carousel-inner(role="listbox")
                            each image, index in activity.images
                                if index == 0
                                    .carousel-item.active
                                        img.newfeedimage(src=image alt="First slide")
                                else
                                    .carousel-item
                                        img.newfeedimage(src=image alt="First slide")
                        a.carousel-control-prev(href="#carousel-example-1z" role="button" data-slide="prev")
                            span.carousel-control-prev-icon(aria-hidden="true")
                            span.sr-only
                                | Previous
                        a.carousel-control-next(href="#carousel-example-1z" role="button" data-slide="next")
                            span.carousel-control-next-icon(aria-hidden="true")
                            span.sr-only
                                | Next
                    a(href="#!")
                        .mask.rgba-white-slight
                .card-body
                        span.show-short-content !{activity.content}
                        div
                            a.btn.btn-flat.red-text.p-1.my-1.mr-2.mml-1.btn-danger(onclick="like('"+activity.id+"', '"+user.id+"');" style="color: white !important")
                                i.fas.fa-thumbs-up
                                span(id=activity.id+"like")
                                    if activity.like.includes(user.id)
                                        |   UnLike
                                    else 
                                        |   Like
                            a.btn.btn-flat.red-text.p-1.my-1.mr-0.mml-1( href="/activity-detail/"+activity._id )
                                | See more
                            i.fas.fa-share-alt.text-muted.float-right.p-1.my-1(data-toggle="tooltip" data-placement="top" title="Share this post")
                            i.fas.fa-heart.text-muted.float-right.p-1.my-1.mr-3.red-text(id=activity.id data-toggle="tooltip" data-placement="top" title="I like it")= activity.like.length
        

block script
    script.
        $("input.custom-control-input").click(function() {
            $("form").submit();
        })
        like = (activity, user) => {
            $.ajax({
                type: "POST",
                url: "/ajax/like",
                data: {
                    activity: activity,
                    user: user, 
                },
                success: function (res) {
                    $('#'+activity).text(res.like)
                    $('#'+activity+"like").text(res.text)
                },
                dataType: "json"
            });

            return false;
        }
    
